
.postsBlock{
    padding: 50px;
    font-size: 2px;
    background-color: #edeef0;
    color: #666666;
}
.posts {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    color: #666666;
}
.postsBlock {
    font-family: Montserat sans-serif;
    font-size: 25px;
    text-align: center;
    color: #666666;

  }
.postsBlock textarea {
border: 1px solid beige ;
    width: 400px;
    height: 100px;
    background-color:beige;
    border-radius: 10px;
    box-shadow: 0 0 8px cornflowerblue;; /* Параметры тени */
}
.postsBlock button {
    margin-right: auto;
    margin-top: 10px;
    width: 79px;
    height: 20px;

}
