.header {

    grid-area:h;
    background-color:#2a5885;
    color: white;
    height:60px;
}
.header img {
    width: 57px;
    height: 60px;
    border-radius: 90%;
    padding-left: 10px;

}

.loginBlock {

    margin: 10px;
    letter-spacing: 0.1em;
    float: right;
    font-weight: bold;
    font-size: 17px;
    font-family: Montserat sans-serif;

 }
.loginBlock a{
    color: white;
    font-family: Montserat sans-serif;

}
.loginBlock button{
    font-family: Montserat sans-serif;
margin-left: 40px;

}