.header {
    grid-area:h;
    background-color:#2a5885;
    color: white;
    height: px;
}
.header img {
    width: 57px;

}

.loginBlock {

    margin: 10px;
    letter-spacing: 0.1em;
     float: right;
     font-weight: bold;
     font-size: 20px;
    font-family: Montserat sans-serif;

 }
.loginBlock a{
    color: white;
}
.loginBlock button{
    font-family: Montserat sans-serif;
    padding: 4px 8px 5px;
    margin-left: -70px;
    margin-top:-25px;
}