.nav {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 8px;
    grid-area:n;
    padding: 25px;
    letter-spacing: 0.1em;
    text-decoration: none;
margin: 35px;

    background-color: #edeef0;

}
.item a {
    background-color: #edeef0;
    color: gray;
    font-weight:lighter;
    font-family: Montserat sans-serif;
}
.item a.activeLink {
    color: cornflowerblue;

}
.friends {
    margin-left: 40px;
    font-family: fantasy;
    margin-top: 80px;
    font-size: 30px;
}