.nav {
    font-size: 22px;
padding-top: 160px;

    margin-bottom: 8px;
    grid-area:n;
    letter-spacing: 0.05em;
    line-height: 1.4;
    text-decoration: none;
margin: 35px;
    font-family: Montserat sans-serif;
    background-color: #edeef0;

}
.item a {
    background-color: #edeef0;
    color: gray;
    font-weight:lighter;
    font-family: Montserat sans-serif;
}
.item a.activeLink {
    color: cornflowerblue;

}
.friends {
    margin-left: 40px;
    font-family: fantasy;
    margin-top: 80px;
    font-size: 30px;
}