.nav {
    grid-area:n;
    background-color: black;
    padding: 25px;
    letter-spacing: 0.1em;
  font-size: 20px;
    line-height:150%
}
.item a {
    color: white;
    font-weight:lighter;
    font-family: fantasy;
}
.item a.activeLink {
    color: cornflowerblue;
}
.friends {
    margin-left: 40px;
    font-family: fantasy;
    margin-top: 80px;
    font-size: 30px;
}