.descriptionBlock {
    font-family: "Open Sans",sans-serif;
    padding: 20px;
    background-color: crimson;
}

.descriptionBlock img {

    width: 200px;
    border: 100px ; /* Параметры рамки */
    box-shadow: 0 0 8px #666; /* Параметры тени */
}

.title {
    text-decoration: underline;
    font-size: 45px;
    color: crimson;;
    text-align: right;
    margin-bottom: 50px;
    margin-right: 50px;
}
.mainImg{
    margin-top: 45px;
    margin-left: 45px;
}