.loginForm {
padding-left: 450px;
    padding-top: 100px;

}
.formSummeryError {

    border: red 1px solid;
    padding: 5px;
    color: white;
    background-color:red;
    width: 190px;
}
.login input{
    width: 150px;
    height: 25px;

}