.dialogs {
display: grid;
    grid-template-columns:2fr 10fr;
}
.dialogsItems{
    font-size: 20px;
    font-weight: bold;
    padding: 100px;
    width: 550px;
    height: 46vh;
    /*background-color: #edeef0;*/
    font-family: "Times New Roman";
    margin: 0 auto;

}
.dialogsItem .active{
    color: skyblue;
}
.messages{
    /*background-color: #edeef0;*/
    text-align: left;
    text-indent: 1.5em;
    padding-top: 100px;
    width: 550px;
    height: 54vh;
    font-size: 17px;
    font-family: "Times New Roman";

}
.messages img {
    padding: 5px;
    margin-top: -15px;
    width: 40px;
    height:40px;
    border-radius: 40px;

}

.dialogsItems img {
    width:40px;
    height:40px;
    border-radius: 40px;

}
.dialog img {
  margin-right: 20px;
    margin-top: 2px;
    text-align: center;
}
.sendMessage{

    margin: 10px;
   height: 5vh;


}

